<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Dashboard - Task Manager</title>

<link rel="stylesheet" href="../static/css/style.css">

<!style>

<!/style>
</head>

<body>

<header>
    <div class="container">
        <h2>Task Manager</h2>
        <div>
            Welcome, <strong>{{ session['username'] }}</strong>
            <a href="/logout" class="btn-logout">Logout</a>
        </div>
    </div>
</header>

<main class="container">

    <!-- ADD TASK -->
	<section class="card add-task">
        	<h3>Create Task</h3>
		<form id="taskForm">
			<input type="text" id="title" placeholder="Task title" required>
    			<input type="text" id="category" placeholder="Category">
    			<input type="number" id="priority" placeholder="Priority (0-5)" min="0" max="5">
    			<input type="date" id="due_date">
    			<textarea id="description" placeholder="Description"></textarea>
    			<button type="submit">Add Task</button>
		</form>
	</section>
	<div class="filters">
    		<select id="filterStatus">
        		<option value="">All</option>
        		<option value="0">Not Started</option>
        		<option value="partial">Partial</option>
        		<option value="1">Completed</option>
    		</select>
    		<input type="text" id="filterCategory" placeholder="Category">
    		<input type="number" id="filterPriority" placeholder="Priority">
	</div>


    <!-- TASK LIST -->
    <section class="card">
        <h3>Your Tasks</h3>

        {% if tasks %}
        <table id="taskTable">
            <thead>
                <tr>
                    <th>Status</th>
                    <th>Task</th>
                    <th>Category</th>
                    <th>Created</th>
                    <th>Action</th>
		    <th>Description</th>
		    <th>Progress</th>
			<th>Priority</th>
			<th>Due</th>
			<th>Created By</th>
                </tr>
            </thead>
            <tbody>
                {% for task in tasks %}
                <tr data-id="{{ task.id }}">
                    <td>
                        <input type="checkbox" class="toggle"
                        {% if task.is_completed %}checked{% endif %}>
                    </td>
                    <td>{{ task.title }}</td>
                    <td><span class="badge">{{ task.category }}</span></td>
                    <td>{{ task.created_at[:10] }}</td>
                    <td>
                        <span class="text-danger delete">Delete</span>
                    </td>
		    <td>{{ task.description }}</td>
		<td>
    			<div class="progress-bar">
        			<div class="progress" style="width: {{ task.progress_percent }}%"></div>
    			</div>
    			{{ task.progress_percent }}%
		</td>

		<td>{{ task.priority }}</td>
		<td>{{ task.due_date }}</td>
		<td>{{ task.user_name }}</td>
                </tr>

		<tr>
			<td colspan="6">
    				<div class="subtasks" data-parent="{{ task.id }}">
        				<input type="text" placeholder="Add subtask">
        				<button onclick="addSubtask({{ task.id }}, this)">+</button>
    				</div>
			</td>
		</tr>
                {% endfor %}
            </tbody>
        </table>
        {% else %}
        <div class="empty-state">
            No tasks yet.
        </div>
        {% endif %}
    </section>

</main>

<script src="{{ url_for('static', filename='js/main.js') }}"></script>

<!script>
<!/script>


</body>
</html>

