<HTML lang='en'>
<head>
	<link rel="stylesheet" href="../static/css/style.css">
	<meta charset='UTF-8'>
	<title>test</title>
</head>

<body>
	

<div id="modalOverlay">
  <div class="modal">
	  <div id="textBox">
		<div class="tbox">
			<h1>TaskManager</h1>
			Sign in to manage tasks..<br>
		</div>
	</div>
    <h2>Enter your credentials to manage your account..</h2>
    <form action="/login" method="POST">
    <input type="text" name="username" placeholder="Username" required><br><br>
    <input type="password" name="password" placeholder="Password" required><br><br>
    <button type="submit" class="btn-login">Login</button>
    <button onclick="closeModal()">Close</button>
    </form>
  </div>
</div>
<script>
function openModal() {
  document.getElementById("modalOverlay").style.display = "flex";
}

function closeModal() {
  document.getElementById("modalOverlay").style.display = "none";
}

// Optional: Close modal by clicking outside the box
document.getElementById("modalOverlay").onclick = function(e) {
  if (e.target === this) closeModal();
};
</script>
</body>

</HTML>

